<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Graphic_music.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Graphic_music.Properties.Settings>
            <setting name="isAutoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StandartWidhtSpherePen" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxWidthSpherePen" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="SpherePosCorrect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isClearSphere" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isSetSizeFoVolume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sphereColorJumpVal" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SeparatorSetColor" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="BackGColorSphere" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="staticColorSphere" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackGColorLines" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="SpeedLines" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLColor_volume" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DLColor_volumeR" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="DLColor_volumeL" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="DLColor_ch1" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch3" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch4" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch5" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch6" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch7" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch8" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch9" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch10" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch11" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch12" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch13" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch14" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch15" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLColor_ch16" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DLWidth_volume" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DLWidth_volumeR" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DLWidth_volumeL" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DLWidth_ch1" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch2" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch3" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch4" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch5" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch6" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch7" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch8" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch9" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch10" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch11" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch12" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch13" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch14" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch15" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DLWidth_ch16" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="protocolSerial" serializeAs="String">
                <value />
            </setting>
            <setting name="SerialSpeed" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="startGrModeIndex" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="startGrColorModeIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="oldSerialPort" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoStartSerial" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startDeviceName" serializeAs="String">
                <value />
            </setting>
            <setting name="isAutoUpdateSerialPortsList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateSerialPortsList_Interval" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="isAutoStartApp" serializeAs="String">
                <value>False</value>
            </setting>
        </Graphic_music.Properties.Settings>
    </userSettings>
</configuration>